* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #F7BD56;
 }
.corgifotito {
    height: 100px;
    align-items: center;
}

.navbar{
    background-color: #F7BD56 !important;
}

.footerclass{
    background-color: #F7BD56 !important;
}

.iniciosesion {
    height: 55px;
    
}

.carrocompras {
    height: 42px;
    margin: 20px;
}

ul {

    align-items: center;
}

.textofooter {
    color: black;
}

.corgistorelink {
    text-decoration: none;
}

.containercard {
    width: 98%;
}

.tituloproductos {
    text-align: center;
    font-size: 25px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
    white-space: nowrap;
}



.textocentro{
    margin-bottom: 10px;
    margin-top: 40px;
    font-weight: bold;

}


.card {
    transition: all 0.3s ease;
    background-color: #F7BD56 !important;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}   


.containerProductos {

    width: 400px;
}


hr {
    margin-left: 25%;
    margin-right: 25%;
}

.Subtitulos {
    font-weight: bold;

}

.Editar_productos{
    margin: 35px; 
}

body {
    background-color: #fff;
    color: #333;
  }
  
h1 {
color: #555;
}
  
button {
background-color: #333;
color: #fff;
}

#reloj {
    width: 120px;
    background: #F7BD56;
    margin: 0 auto;
    border-radius: 10px;
}

.descuento{
    align-items: center;
}

.cardRegistro {
    transition: all 0.3s ease;
    background-color: #fff;
    border-radius: 10px;
}


.cardRegistro:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

.error{
    color: red;
}

#carouselExampleIndicators{
    margin-top: 75px;
}
.footerteto{
    background-color: #F7BD56;
}

